# Python bytecode (wajib di-ignore)
*.pyc
*.pyo
*.pyd
__pycache__/

# Log file Odoo jika ada di folder lokal
*.log

# File sistem operasi
.DS_Store
Thumbs.db
.ipynb_checkpoints/

# Jika Anda menggunakan VS Code atau PyCharm (opsional)
.vscode/
.idea/
